body {
    background-color: lightgray ;
}

h1, h5 {
    font-style: unset;
    font-family: cursive;
    font-size: 300%;
    padding: 2px;

}
p {
padding: 10%;
}

.circulo {
text-align: center;

}

